html, body {
    background-color: #1B2631;
    height: 100%
}

.bg {
    right: 50%;
    height: auto;
    position: absolute;
}

#overlay {
    width: 86px;
    height: 71px;
    top: 129px;
    left:-148px;
    transform: skewX(1deg) rotateY(25deg) rotateX(-5deg) rotateZ(3deg);

    position: relative;
}
