html, body {
    background-color: #1B2631;
    height: 100%;
}

#overlay {
    width: 86px;
    height: 71px;
    top: -370px;
    left: 228px;
    transform: skewX(1deg) rotateY(25deg) rotateX(-5deg) rotateZ(3deg);

    position: relative;  

}



@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) 
    { 
        #overlay
        {
            top: -373px;
            left: 228px;  
        }

        .selecter {
            bottom: 120px;
        
            position: relative;
        }
      
    }
